# Cấu hình đường link Backend khi Deploy lên Production (Vercel / Render)
# Nếu chạy ở Localhost thì có thể bỏ trống (mặc định trỏ về localhost:8080 và localhost:8001)

# Đường link API của Java Spring Boot Backend
VITE_API_URL=http://localhost:8080/api/v1

# Đường link API của Python Stock Service
VITE_STOCK_SERVICE_URL=http://localhost:8001/api/stock
